.san{
    background-color: black;
}
td{
    color: blanchedalmond;
}
body{
    background-color: rgb(196, 214, 201);
}
.ss{
    background: rgb(255, 0, 0);
}
h1{
    color: rgb(248, 4, 4);
}
.bt{
    background-color: rgb(50, 4, 235);
}
a{
    color: rgb(253, 253, 253);
}